body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes up at least the viewport height */
    background-color: #f8f8f8;
}

#chat-box {
    flex-grow: 1; /* Grow to fill remaining space */
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

#chat-interact {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: auto; /* Push to the bottom */
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
}

#send-message-btn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 75px;
    margin-left: auto;
}

button:hover {
    background-color: #0056b3;
}