@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.container {
  margin: 0;
  padding: 40px;
  /* Ensure the body takes up at least the viewport height and width */
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;

  font-family: 'Nunito Sans', 'sans-serif';
}

#title {
  align-self: center;
  font-size: 32pt;
  font-weight: 700;
}

.id-container {
  display: flex;
  justify-content: center;
  position: relative;
  /* Ensure the tooltip positions relative to the container */
}

#assistant-id {
  align-self: center;
  position: relative;
  /* Required for positioning the tooltip */
}

/* Tooltip Styles */
#assistant-id:hover::after,
#copy-btn:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10pt;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.3s forwards;

  margin-top: 5px;
}

#copy-btn:hover::after {
  left: 60%;
}

/* Animation for tooltip */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#copy-btn {
  padding: 0;
  height: fit-content;
  border: 0;
  background-color: #f8f8f8;
  margin-left: 9px;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

#copy-icon {
  padding: 0;
  width: 18px;
  height: auto;
  opacity: 60%;
}

.chat-container {
  height: 70vh;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-size: 15pt;
}

.chat-interact {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

#userInput {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 12pt;
  outline: none;

  box-sizing: border-box;
}

#sendButton, .modal-close-button {
  padding: 10px 20px;
  background-color: #7939ef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 10%;
  max-width: 100px;
  margin-left: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-close-button{
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#sendButton:hover, .modal-close-button:hover {
  background-color: #5a2dc1;
  align-self: bottom;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

.user-message {
  max-width: 40vw;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto; /* Align user messages to the right */
  text-align: left;
  align-self: center;
}

.bot-message {
  max-width: 40vw;
  background-color: #7939ef;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-right: auto;
  text-align: left;
  align-self: center;
}

.loading-message {
  max-width: 40vw;
  width: 5vw;
  background-color: #ccc;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  opacity: 0.6;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  align-self: center;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  align-self: flex-start;
}

/* Expanded Text Input Button & Modal styling */
.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

#expandButton {
  position: absolute;
  top: 49%;
  right: 12px;
  /* Adjust spacing from the edge */
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#expandButtonImg {
  width: 19px;
  /* Adjust size */
  height: auto;
  padding: 0;
  align-self: center;
  opacity: 40%;
}

.textarea-modal {
  visibility: hidden;
  position: fixed;

  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: 50vh;

  z-index: 1000;

  opacity: 0;

  background-color: white;
  border-radius: 15px;
}

.expanded-input {
  width: 100%;
  height: 89.5%;
  padding: 20px;

  border-radius: 15px;
  border: none;
  
  outline: none;
  resize: none;
}

.modal-backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 48, 48, 0.5);
  z-index: 999;
  
  opacity: 0;
}

.textarea-modal.show, .modal-backdrop.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/*Mobile Screens*/
@media only screen and (max-width: 1000px) {

  #expandButton,
  .modal {
    display: none;
  }

  body {
    font-size: 12pt;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  #title {
    font-size: 18pt;
  }

  .id-container {
    font-size: 10pt;
  }

  .chat-container {
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
  }

  .chat-interact {
    margin-left: auto;
    margin-right: auto;
  }

  #userInput {
    width: 65vw;
    font-size: 10pt;
    margin-right: 0;
  }

  #sendButton {
    max-width: 20vw;
    width: 20vw;
    margin-left: 0;
    scale: 0.9;
  }

  .profile-image {
    width: 35px;
    height: 35px;
  }

  .user-message,
  .bot-message {
    max-width: 70vw;
    font-size: 12pt;
  }
}