.container {
  margin: 0;
  padding: 40px;
  /* Ensure the body takes up at least the viewport height and width */
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

#title{
  align-self: center;
}

.chat-container {
  height: 70vh;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-size: 15pt;
}

.chat-interact {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

#userInput{
  width: 97%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
}

#sendButton{
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 75px;
  margin-left: auto;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-message {
  max-width: 40vw;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto; /* Align user messages to the right */
  margin-right: 10px;
  text-align: left;
}

.bot-message {
  max-width: 40vw;
  background-color: #28a745;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-right: auto; /* Align bot messages to the left */
  margin-left: 10px;
  text-align: left;
}

.profile-image {
  width: 45px; /* Adjust as needed */
  height: 45px; /* Adjust as needed */
  border-radius: 50%;
  margin: 5px;
}

/* Ensure profile image is aligned correctly for bot messages */
.user-message .profile-image {
  margin-left: -50px; /* Shift profile picture to the left for bot messages */
  margin-right: 10px; /* Offset to maintain alignment */
}

/* Ensure profile image is aligned correctly for bot messages */
.bot-message .profile-image {
  margin-left: 10px; /* Shift profile picture to the left for bot messages */
  margin-right: -50px; /* Offset to maintain alignment */
}