body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

h3{
    padding: 10px;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.form-group {
    margin-bottom: 40px;
}

label {
    display: block;
    font-weight: 500;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="file"]{
    width: auto;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#orText{
    margin-left: 10vw;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
